<section>
  <div class="container">
    <div class="col-lg-12">
      <h1 class="h2-red">Groups</h1>

      <h3>Explore our user created themed groups</h3>

  <% if user_signed_in? %>
    <%= react_component('Groups', {groups: @groups, user_id: current_user.id}) %>
  <% else %>
    <%= react_component('Groups', {groups: @groups}) %>
  <% end %>

</div>
