<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Restaurant Collections</h2>
            <hr class="star-primary">
            <p>Not sure where to begin? Explore these curated lists of trending restaurants.</p>
        </div>
        <% %>
        <div class="row">
          <% @top_ten_obj.map do |rest| %>
            <div class="col-sm-4">
              <a href= "restaurants/<%= rest.id %>" >
              <img src=<%= rest.featured_img %> onerror="this.src='http://www.wall321.com/thumbnails/detail/20120719/fruits%20green%20apples%20apples%201440x900%20wallpaper_www.wall321.com_11.jpg'" class="img-thumbnail" >
              <h4><%= rest.name %></h4>
              </a>
            </div>
          <% end %>
        </div>

    </div>
</div>
