<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
                <h2>Welcome to Foodist</h2>
                <hr class="star-primary">
                <img src="" class="img-responsive img-centered" alt="">
                <p>Alas, being a bougie foodie can be so challenging without the right tools... So why not start a Foodist?</p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body">
          <h2>Trending Lists</h2>
          <%= react_component 'Lists', {url: '/trending'} %>

        </div>
      </div>
    </div>
</div>
