<!-- <% react_component("Search", userSignedIn: user_signed_in?) %> -->

<div>
  <ol class="sortable" ondragstart="">
    <% @new_search.response_data["restaurants"].map do |result|
       rest = result["restaurant"]

       if Restaurant.find_by(restaurant_id: rest["id"])
        query = Restaurant.find_by(restaurant_id: rest["id"])
       else
       Restaurant.create!( name: rest["name"],
                        restaurant_url: rest["url"],
                        address: rest["location"]["address"],
                        locality: rest["location"]["locality"],
                        city: rest["location"]["city"],
                        zipcode: rest["location"]["zipcode"],
                        average_cost_for_two: rest["average_cost_for_two"],
                        featured_img: rest["featured_image"],
                        menu_url: rest["menu_url"],
                        has_online_delivery: rest["has_online_delivery"],
                        cuisines: rest["cuisines"],
                        restaurant_id: rest["id"]
                        )

       query = Restaurant.find_by(name: rest["name"])
       end %>
       <li><a draggable="true" ondragstart="drag(event)" id="drag1" href= "restaurants/<%= query.id %>"> <%= query.name %> - <%= query.locality %></a></li>
    <% end %>
  </ol>
</div>
<!-- <script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
    // debugger;
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    $(ev.target).append(document.getElementById(data));
}
</script>

<style>
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
</style>

<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
  <% if user_signed_in? %>

  <% else %>

  <% end %>
</div> -->
