// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups {
  text-align: center;
}

#groups-list {
  list-style: none;
}

#group-box {
  border: 2px solid rgb(50, 7, 7);
  width: 15%;
  display: inline-block;
  padding-right: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;

}
