// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.groups {
  text-align: center;
}

#groups-list {
  list-style: none;
  padding-top: 40px;
}

#group-box {

  border-radius: 7%;
  background-color: #337ab7;
  width: 300px;
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 20px;
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;

}
