// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav-bar {
  li:last-child {
    float: right;
    margin-right: 8px;
  }
  ul {
    list-style-type: none;
    margin-top: 0%;
    overflow: hidden;
    background-color: black;
  }
  li {
    float: left;
    a {
      display: block;
      color: #00ffff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    a:hover {
      background-color: #420d70;
    }
  }
}

#title {
  text-align: center;
  margin: auto;
}
